.todo-app {
    background-color: #ffffff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  
  #todo-form {
    display: flex;
    gap: 10px;
  }
  
  .todo-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  .todo-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .todo-button:hover {
    background-color: #45a049;
  }
  
  .todoContainer {
    margin-top: 20px;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 ;
  }
  
  .todo li {
    flex: 1;
    margin-left: 10px;
  }
  
  .complete-btn,
  .trash-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .complete-btn:hover,
  .trash-btn:hover {
    opacity: 0.8;
  }
  
  .complete-btn {
    background-color: #4caf50;
  }
  
  .todo-clear {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .todo-clear:hover {
    opacity: 0.8;
  }
  